<div id="nav">
  <a href="{{site.url}}{{site.baseurl}}/" class={% if page.url == '/' %}current{% endif %}>home</a> ·
  <!--a href="{{site.url}}{{site.baseurl}}/activity/" class={% if page.url == '/activity/' %}current{% endif %}>activity</a--> 
  <a href="{{site.url}}{{site.baseurl}}/research/" class={% if page.url == '/research/' %}current{% endif %}>research</a> ·
  <a href="{{site.url}}{{site.baseurl}}/projects/" class={% if page.url == '/projects/' %}current{% endif %}>notes & code</a>
  <!-- <a href="{{site.url}}{{site.baseurl}}/teaching/" class={% if page.url == '/teaching/' %}current{% endif %}>teaching</a> -->
</div>
